.checkoutProductCard {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 10px;
}

.checkoutProductCard:not(:first-child) {
    padding-top: 10px;
}

.checkoutProductCard:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f3f3;
}

.checkoutProductCard .checkoutProductCard__thumbnail {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: contain;
    transform: scale(0.9);
    margin-left: auto;
    margin-right: auto;
}

.checkoutProductCard .checkoutProductCard__data {
    width: 100%;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__info {
    width: 100%;
    position: relative;
    padding-right: 30px;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__info .checkoutProductCard__title {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__info .checkoutProductCard__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__info .checkoutProductCard__delete {
    cursor: pointer;
    border: none;
    outline: auto;
    background-color: transparent;
    background-color: crimson;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 11px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: flex-end;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__bottom .checkoutProductCard__quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__bottom .checkoutProductCard__quantity .checkoutProductCard__quantity-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__bottom .checkoutProductCard__quantity .checkoutProductCard__quantity-number {
    font-size: 13px;
    font-weight: 500;
}

.checkoutProductCard .checkoutProductCard__data .checkoutProductCard__bottom .checkoutProductCard__price {
    font-size: 18px;
    font-weight: bold;
}